.cart-container {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  padding: 20px;
  width: 450px;
  background: rgb(255, 255, 255);
}
.cart-container h4 {
  margin-bottom: 10px;
  text-decoration: double;
}

.column-labels {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  align-items: center;
  margin-bottom: 10px;
  font-weight: bold;
}

.product {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  align-items: center;
  margin-bottom: 10px;
}

.product p {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: smaller;
  color: black;
  font-weight: 400;
}

.product-quantity input {
  width: 40px;
  text-align: center;
}

.product-price,
.product-line-price {
  text-align: right;
  width: 10px;
}
.product-removal {
  text-align: right;
  width: 10px;
  font-size: smaller;
}

.product-removal button {
  background-color: rgb(208, 124, 124);
  border: none;
  color: #f9f8f8;
  cursor: pointer;
}

.product-removal button:hover {
  text-decoration: wavy;
}

#cart-subtotal,
#cart-tax,
#cart-shipping,
#cart-total {
  margin-top: 10px;
  text-align: right;
}

.checkout {
  margin-top: 20px;
  text-align: right;
}

.checkout button {
  padding: 10px 20px;
  background-color: #51bd7a;
  color: #ffffff;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.checkout button:hover {
  background-color: #31a359;
}
.itemquantity {
  margin: 0.4em 0;
}
.dottedline {
  border-top: 1px solid rgb(203, 196, 196);
}
label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: smaller;
}
.boldline {
  border-top: 3px solid rgb(3, 3, 3);
}
p {
  font-size: smaller;
}
.image {
  object-fit: contain;
  height: 80px;
  width: 100px;
}
