.food-card {
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 700px;
}

.food-card h3 {
  font-size: 18px;
  margin-bottom: 8px;
}

.food-card p {
  font-size: 14px;
  margin-bottom: 8px;
}

.food-card button {
  background-color: #fc8019;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.food-card button:hover {
  background-color: #f2650e;
}

.food-image {
  float: right;
}

.button-51 {
  background-color: transparent;
  border: 1px solid;
  box-sizing: border-box;
  color: #00132c;
  font-family: "Avenir Next LT W01 Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: 10px;
}

.button-51:hover,
.button-51:active {
  outline: 0;
}

.button-51:hover {
  background-color: transparent;
  cursor: pointer;
}

.button-51:before {
  background-color: #eea878;
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

.button-51:hover:before {
  background-color: #eea878;
}

@media (min-width: 768px) {
  .button-51 {
    padding: 16px 32px;
  }
}
