.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");

/* MainSec */

.main {
  display: flex;
}
.main .container {
  width: 100%;
  padding: 5% 5% 5% 6%;
}
header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  align-items: center;
}
.logo {
  font-weight: 800;
  font-size: 28px;
  letter-spacing: 2px;
  color: #fb6542;
  font-family: "Krona One", sans-serif;
}
.reg a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 600;
}
.reg a:first-child {
  color: #171b1b;
}
.reg a:first-child:hover {
  color: #fb6542;
}
.reg a:nth-child(2) {
  background-color: #171b1b;
  color: #fff;
}
.slidetxt {
  font-size: 36px;
  margin: 55px 0 10px 0;
  font-weight: 700;
  height: 45px;
  overflow: hidden;
  position: relative;
}
.slidetxt div {
  animation: slideAnime 12s 3s infinite;
  position: absolute;
}
.slidetxt span {
  display: block;
  height: 45px;
  color: #2a3132;
}
@keyframes slideAnime {
  0% {
    top: 0;
  }
  6.25%,
  25% {
    top: -45px;
  }
  31.25%,
  50% {
    top: -90px;
  }
  56.25%,
  75% {
    top: -135px;
  }
  81.25%,
  100% {
    top: -180px;
  }
}

.searchbox {
  position: relative;
  margin: 45px 0;
  height: 58px;
}
.searchbox input {
  width: 100%;
  height: 100%;
  padding-left: 20px;
  border: 1px solid #bcbabe;
  font-size: 16px;
  outline: none;
  overflow: scroll;
}
.searchbox input:focus {
  border: 1px solid #fb6542;
}
.btn-container {
  position: absolute;
  top: 0;
  right: 0;
  height: 58px;
  overflow: hidden;
}

h5 {
  color: #555;
}
h5 {
  letter-spacing: 2px;
  margin-bottom: 5px;
}

.img-container {
  height: 90vh;
  width: 45%;
}
.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form {
  height: 95vh;
  width: 450px;
  background-color: #fff;
  position: absolute;
  z-index: 10;
  right: -80px;
  top: 0;
  padding: 40px 5%;
  box-shadow: -1px 1px 7px #000;
  transition: 0.3s;
}
.form > span {
  color: #2a3132;
  cursor: pointer;
}
.form > span:hover {
  color: #000;
}
.form h1,
.form p {
  color: #2a3132;
  padding-top: 10px;
}
.form p {
  font-size: 14px;
}
.form p a {
  color: #fb6542;
  font-weight: 500;
}
form a {
  font-size: 14px;
  color: #2f7aa5;
}
.signup-container {
  padding-left: 100px;
  padding-right: 100px;
}

.buttonlogin {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.emptycontainer {
  height: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.emptycontainer.elements {
  margin: 0;
}
